
@using RCLAPI
@using RCLComum.State

@inject UserSessionState UserSession

<div class="header-container">
    <div class="header-main">
        <div><span class="logo-span"><a class="logo-span" href="/">
            @AppConfig.tituloHomePage</a></span></div>
        <div class="nav-main">
            <BtnCarrinho/>
            <BtnFavoritos/>
            <LocationComponent />
        </div>
            @if (UserSession.UserId == null){
                <BtnLogin/>
                <BtnRegister />
            }
            else{
                <a href="/encomenda">@UserSession.UserName</a>
                <BtnLogout/>
            }
    </div>
</div>

@code {

}
