
@using RCLAPI
@using RCLComum.State

@inject UserSessionState UserSession

<div class="header-container">
    <div class="header-main">
        <div><span class="logo-span"><a class="logo-span" href="/">
            @AppConfig.tituloHomePage</a></span></div>
        <div class="nav-main">
            <BtnCarrinho/>
            <BtnHabituais/>
            <LocationComponent />
        </div>
            @if (UserSession.UserId == null){
                <BtnLogin/>
            }
            else{
                <BtnLogout/>
            }
             <BtnRegister/>
    </div>
</div>

@code {

}
