@page "/favoritos"

@using RCLAPI.DTO
@using RCLComum.State
@using RCLAPI.Services

@inject UserSessionState UserState
@inject NavigationManager NavigationManager

<h3>Favoritos</h3>


@if (favoritos.Count == 0)
{
    <p>Ainda não tem favoritos</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in favoritos){
                <tr>
                    <img title="Imagem Actual: @item.Produto.UrlImagem" style="height:60px" id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.Produto.Imagem))" />
                    <td>@item.Produto.Nome</td>
                    <td>@item.Produto.Preco</td>
                    <td><a title="Add" href="@($"addCarrinho?id={item.Produto.Id}")"><img src="images/addicon.jpg" width="30" /></a></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    [Inject]
    public IApiServices? _apiServices { get; set; }

    public List<Favoritos> favoritos { get; set; } = new List<Favoritos>();

    protected override async Task OnInitializedAsync(){

        if (UserState == null || UserState.UserId == null){
            NavigationManager.NavigateTo("/modalogin");
            return;
        }

        favoritos = await _apiServices.GetFavoritos(UserState.UserId);
    }

}
